<table>
  <thead>
    <tr>
      <td>Transaction History</td>
    </tr>
  </thead>
{{!--   {{#each model as |transactionUnit|}}
    {{transaction-listing transaction=transactionUnit}}
  {{/each}} --}}
  {{infinity-loader infinityModel=model}}
</table>


{{#link-to "index" tagName="button"}}Home{{/link-to}}
