<article class="card">
  
  <h1>What Are We Doing?</h1>

  {{#link-to "send" tagName="button"}}Send Money{{/link-to}}
  {{#link-to "history" tagName="button"}}Transaction History{{/link-to}}
  
</article>
