<h2>Success!</h2>

{{log model}}

<p>
  You sent {{model.amount}} to {{model.payee}}!  
</p>

{{#link-to "send" tagName="button" action="success.clearForm"}}Send Money{{/link-to}}
{{#link-to "history" tagName="button"}}Transaction History{{/link-to}}
